.container{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSec);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title{
    color: var(--textSec);
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
    gap: 30px;

}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    
}

.input{
    background: transparent;
    border: none;
    color: var(--textSec);
}

.icons{
    display: flex;
    gap: 20px;
}